autodocsumm
sphinx_rtd_theme
python==3.6.3
tensorflow
pandas
matplotlib
numpy
astropy
keras
keras-unet-collection
# Linting and formatting
flake8
pep8-naming
black


# Testing
pytest
pytest-html
pytest-cov

# Logging and documentation
sphinx
sphinx_rtd_theme

# Data processing libraries
astropy
numpy
pandas
scikit-learn

# Packaging
setuptools
wheel

./galaxy-detector/
